[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "asfquart"
version = "0.1.3"
authors = [ 
  {name = "ASF Infrastructure", email = "users@infra.apache.org"}
]
dependencies = [
    "aiohttp>=3.9.2",
    "PyYAML>=6.0.1",
    "pytest==7.2.0",
    "pytest-cov>=4.0.0",
    "pytest-asyncio>=0.20.3",
    "pytest-mock>=3.10.0",
    "quart>=0.19.4",
]
license = {file = "LICENSE"}
readme = "README.md"
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3"
]
description = "ASF Quart Framework"

[project.optional-dependencies]
ldap = [
    "asfpy[aioldap]"
]
