name: Unit Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # need all versions to be able to access server tree commit logs
          persist-credentials: false
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true # enable built-in caching of uv
      - uses: awalsh128/cache-apt-pkgs-action@5902b33ae29014e6ca012c5d8025d4346556bd40 # latest
        with:
          packages: python3-dev libldap2-dev libsasl2-dev
          version: 1.0
      - name: Install dependencies
        run: uv sync --locked --all-extras --group test
      - name: Test with pytest
        run: uv run pytest -rA
